body {
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
  }
  
  .box {
    margin: 2%;
    padding: 3%;
    height: 5em;
    width: 5em;
    border: 2px solid black;
    font-size: 0.8em;
  }
  
  .box > p {
    color: blue;
    margin: 20%;
    user-select: none;
  }

  .small-parrot {
    transform: scale(0.5);
  }

  .big-parrot {
    transform: scale(1.5);
  }
  